.ctx-text-align-center {
	text-align: center;
	.ctx-post-image {
		margin-left: auto;
		margin-right: auto;
	}
}

.ctx-text-align-right {
	text-align: right;
	.ctx-post-image {
		margin-left: auto;
	}
}

.styleSelector Button {
	flex-direction: column;
	height: 70px;
	background: #eee;
	width: 70px;
	border: 2px solid #eee;
	margin-right: 5px;

	&.active {
		border: 2px solid #007cba;
	}
}

.styleSelector {
	padding-top: 10px;
	padding-bottom: 22px;
}

select[multiple] {
	height: auto !important;
	padding: 0 !important;

	+ .components-input-control__suffix {
		display: none;
	}
}
