/*!*******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/booking/editor.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************/
.ctx-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 7px;
}
.ctx-button.large {
  padding: 10px 40px !important;
  font-size: 1.3rem !important;
}
.ctx-button.small {
  padding: 0 15px !important;
  line-height: 28px !important;
  font-size: 0.7rem !important;
}
.ctx-button.reverse {
  flex-direction: row-reverse;
}

.ctx-event-booking {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/*!*******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/details/editor.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-details__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ctx\:event-details h5 {
  margin: 0;
  padding: 0;
}
.ctx\:event-details__item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.ctx\:event-details__item .material-icons {
  font-size: 2.25rem;
}
.ctx\:event-details__image {
  width: 38px;
  aspect-ratio: 1/1;
}
.ctx\:event-details i, .ctx\:event-details img {
  width: 38px;
}
/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/featured/editor.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************/
.ctx-featured-event {
  aspect-ratio: 16/9;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.ctx-featured-event > div {
  padding: 1rem;
  flex: 1;
  background: rgba(255, 255, 255, 0.7);
}
.ctx-featured-event > div h1, .ctx-featured-event > div p {
  margin: 0;
  padding: 0;
}
.ctx-featured-event.is-root {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  aspect-ratio: 16/5;
}
/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/checkbox/editor.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-field div.label {
  display: flex;
}
.ctx\:event-field div.label p {
  margin: 0;
}
.ctx\:event-field input[type=checkbox] {
  margin-top: 2px;
  margin-right: 1rem;
}
/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/container/editor.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-form__container {
  max-width: 1200px;
  margin: 0 auto 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.ctx\:event-form__appender {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}
/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/country/editor.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-field select {
  width: 100%;
}
/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/date/editor.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-field input[type=date] {
  width: 100%;
}

.age-info {
  background: #d6e7f1;
  padding: 4px 8px;
  border: 1px solid #b6d1e8;
  border-radius: 3px;
  color: #385f81;
}
.age-info input {
  background-color: #edf6ff;
  border-color: #92abc0;
  color: #385f81;
}
/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/email/editor.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-field input[type=email] {
  width: 100%;
  color: #999;
}
/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/html/editor.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-html {
  padding: 1rem 1rem;
  background: #f8f8f8;
  border: 1px solid #cccccc;
  grid-column: auto/span 6;
  box-sizing: border-box;
  max-width: 1200px !important;
}
.ctx\:event-html--3 {
  grid-column: auto/span 4;
}
.ctx\:event-html--2 {
  grid-column: auto/span 3;
}
.ctx\:event-html--1 {
  grid-column: auto/span 2;
}
/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/phone/editor.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-field input[type=tel] {
  width: 100%;
}
/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/radio/editor.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-field div.label {
  display: flex;
}
.ctx\:event-field div.label p {
  margin: 0;
}
.ctx\:event-field fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.ctx\:event-field input[type=radio] {
  margin-top: 2px;
  margin-right: 0.5rem;
}
/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/select/editor.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-field select {
  width: 100%;
  max-width: 100%;
}
.ctx\:event-field__select {
  display: flex;
  gap: 1rem;
}
.ctx\:event-field__select button {
  height: 30px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/text/editor.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-field {
  padding: 1rem 1rem;
  background: #ffffff;
  border: 1px solid #cccccc;
  grid-column: auto/span 6;
  box-sizing: border-box;
  max-width: 1200px !important;
}
.ctx\:event-field--3 {
  grid-column: auto/span 4;
}
.ctx\:event-field--2 {
  grid-column: auto/span 3;
}
.ctx\:event-field--1 {
  grid-column: auto/span 2;
}
.ctx\:event-field input[type=text] {
  width: 100%;
  color: #999;
}
.ctx\:event-field--error {
  background: #fcf4f4 !important;
  border: 1px solid #ff0000 !important;
}
.ctx\:event-field__caption {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.ctx\:event-field__caption p {
  margin: 0;
}
.ctx\:event-field__name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ctx\:event-field__label {
  font-size: 0.8rem;
  color: #999;
}
.ctx\:event-field__error-message {
  color: #ff0000;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.ctx\:event-details__label--lock {
  display: flex;
  align-items: center;
}
.ctx\:event-details__label--lock svg {
  margin-left: 5px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/form/textarea/editor.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.ctx\:event-field textarea {
  width: 100%;
  color: #999;
}
/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/upcoming/editor.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************/
.posts {
  display: grid;
  gap: 10px;
}

.cols-large-1 {
  grid-template-columns: auto;
}

.cols-large-2 {
  grid-template-columns: auto auto;
}

.cols-large-3 {
  grid-template-columns: auto auto auto;
}

.cols-large-4 {
  grid-template-columns: auto auto auto auto;
}

.cols-large-5 {
  grid-template-columns: auto auto auto auto auto;
}

.cols-large-6 .ctx-post {
  grid-column: 1/6;
}

.ctx-post {
  display: flex;
  background: #fff;
}

.style-list h4 {
  margin-left: 10px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.style-list .ctx-post-image {
  flex-shrink: 0;
  margin-right: 20px;
}
.style-list img {
  width: 30%;
}
.style-list .post-card {
  align-items: center;
}
.style-list span {
  color: #999;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.style-cards p, .style-cards span {
  margin: 0px !important;
  padding: 0px 10px;
}
.style-cards h4 {
  margin: 5px 0px !important;
  padding: 0px 10px;
}
.style-cards span {
  color: #999;
  font-size: 14px;
}

.ctx-round-image img {
  border-radius: 100%;
  width: 70%;
}

.ctx-text-align-center {
  text-align: center;
}
.ctx-text-align-center .ctx-post-image {
  margin-left: auto;
  margin-right: auto;
}

.ctx-text-align-right {
  text-align: right;
}
.ctx-text-align-right .ctx-post-image {
  margin-left: auto;
}

.styleSelector Button {
  flex-direction: column;
  height: 70px;
  background: #eee;
  width: 70px;
  border: 2px solid #eee;
  margin-right: 5px;
}
.styleSelector Button.active {
  border: 2px solid #007cba;
}

.styleSelector {
  padding-top: 10px;
  padding-bottom: 22px;
}

select[multiple] {
  height: auto !important;
  padding: 0 !important;
}
select[multiple] + .components-input-control__suffix {
  display: none;
}
/*!*******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/plugins/event/booking.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************/
.em-booking-option-buttons {
  margin-top: 1rem;
}
/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/plugins/event/datetime.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************/
.em-time-row {
  margin-bottom: 1rem;
}

.em-date-row {
  margin-bottom: 1rem;
}

.em-date-input {
  width: 7rem;
}

.components-text-control__input[type=time] {
  width: auto;
}

/*# sourceMappingURL=backend.css.map*/