div#em-loading { position:absolute; width:100%; height:100%; background:#FFFFFF 50% 50% no-repeat; left:0px; top:0px; opacity:0.8; filter:alpha(opacity=80); z-index:9999; }

#location_info td { vertical-align:top; text-align:left; }
#location_info th { vertical-align:top; text-align:left; padding:5px 10px 0 0; }

p.warning {	border: 2px solid #FD0000; background: #FF7146; color: #fff; font-weight: bold; padding: 5px; }
.debug{ color: green; background: #B7F98C; margin: 15px; padding: 10px; border: 1px solid #629948; }

.switch-tab { background: #aaa; width: 100px; float: right; text-align: center; margin: 3px 1px 0 5px; padding: 2px; }
.switch-tab a { color: #fff; text-decoration: none; }
.switch-tab a:hover { color: #D54E21; }

#events-pagination { text-align: center; }
#events-pagination a { margin: 0 20px 0 20px; text-decoration: none; width: 80px; padding: 3px 0; background: #FAF4B7; border: 1px solid #ccc; border-top: none;}
#new-event { float: left; }


.em-label { 
	padding: 0px 5px;
    display: inline-block;
    border-radius: 3px;
 }

 .em-label.completed {
	background: #4caf50;
    color: #fff;
 }

 .em-label.pending {
	background: #ffc107;
	color: #000;
 }

 .em-booking-graph {
	margin-top: 6px; border-radius: 999px; display: flex; width:100px; position: relative; height: 8px; background: #dddddd; box-shadow: inset 1px 1px 3px rgb(0,0,0,0.2)
 }

 .em-booking-graph-booked {
	border-radius: 999px;
	position: relative; height: 8px; background: #4caf50
 }

 .em-booking-graph-booked.cut {
	border-top-right-radius: 0; border-bottom-right-radius: 0;
 }

 .em-booking-graph-pending {
	border-radius: 999px;
	position: relative; height: 8px; background: #ffc107
 }

 .em-booking-graph-pending.cut {
	border-top-left-radius: 0; border-bottom-left-radius: 0;
 }

 .em-booking-graph-full {
	border-radius: 999px;
	position: relative; height: 8px; background: #f55e53
 }



/* General Notices */
#event-form .em-notice-warning, #post .em-notice-warning { margin:10px 0px; padding:15px 20px; border-left: 4px solid #ffa500; }
#event-form .em-notice-warning h4, #post .em-notice-warning h4 { margin-top:0px; }
#event-form .em-notice-warning div.warning-bold, #post .em-notice-warning div.warning-bold{ color:#c45500; font-weight: bold; }
#event-form .em-notice-warning div.warning-bold p, #post .em-notice-warning div.warning-bold p { margin-top:0px; font-size:14px; }

/* Events List */
table.events-table tr.pending { background:#FCFFA8 }
table.events-table tr.past { background:#E4E4E4 }
table.events-table .category { color:#888; }

/* Events Add Page */
#post-body .misc-pub-post-status.misc-event-duplicate-link:before { content: "\f132"; }
#event-form #event-name, #location-form, #location-name { }
/* Recurring Event Rescheduling */
#event-form .reschedule-hidden, #post .reschedule-hidden { display:none; visibility:hidden; }
#event-form .em-recurrence-reschedule, #post .em-recurrence-reschedule { padding:15px 20px; border-left: 4px solid #ffa500; }
#event-form .em-recurrence-reschedule h4, #post .em-recurrence-reschedule h4 { margin-top:0px; }
#event-form .recurrence-reschedule-warning, #post .recurrence-reschedule-warning { margin-bottom:25px; color:#c45500; }
#event-form .recurrence-reschedule-warning p, #post .recurrence-reschedule-warning p { margin-top:0px; font-size:14px; }
/*Locations*/
.em-location-type { border-top: 1px solid #dedede; margin-top:20px; padding-top:20px; }
.em-location-type-single .em-location-type { border-top:0; margin-top:0; padding-top:0; }
.em-location-type.em-location-type-single { border:none; margin-top:10px; padding-top:10px; }
.em-location-type p:first-child { margin-top:0; }

.em-event-location-data h4 { padding-bottom:5px; border-bottom:1px solid #dedede; margin-bottom:15px; }
.em-input-field { margin-bottom:10px; }
.em-input-field label { display: block; margin-bottom:5px; }
.em-input-field.em-input-field-boolean label { display: inline-block; }
.em-input-field em { display: block; margin-top:2px; }
/* Location form */
div.em-location-type, div.em-location-type-delete-active-alert { display:none; }
div.em-location-types-single { display:none; visibility: hidden; }

div.em-location-data .em-location-map-container, div.em-location-data .em-location-map-404, div.em-location-data .em-location-map-content { width: 400px; height: 300px; float:left; }
div.em-location-data .em-location-map-404 { vertical-align:middle; text-align: center; }

.ms-global-categories { line-height:1.8em; }
/*Bookings */
#event-rsvp-box { margin:10px; }
#event-rsvp-options h4 { font-size:14px; }
#event-rsvp-options label { font-weight:bold; }
/*Tickets*/
#em-tickets-form tbody.em-ticket-template { display:none; }
#em-tickets-form th { width:auto; }
#em-tickets-form th.ticket-status, .em-tickets-row .ticket-status { width:20px; }
#em-tickets-form .em-tickets-row .ticket-status span.dashicons { display:block; width:16px; height:16px; line-height:16px; font-size:16px; font-weight: bolder; }
#em-tickets-form .em-tickets-row .ticket-status.single span.dashicons { cursor:auto; }
#em-tickets-form .em-tickets-row .ticket-status span.ticket-on { color: #008000; }
#em-tickets-form .em-tickets-row .ticket-status span.ticket-off { color: #ff0000; }
#em-tickets-form .em-tickets-row .ticket-status span.ticket_new { color: #808080; }
#em-tickets-form.em-tickets-sortable .em-tickets-row .ticket-status span.dashicons { cursor:grab; }
#em-tickets-form .em-ticket-sortable-placeholder { border:2px dashed #dedede; background:#efefef; }
#em-tickets-form .ui-sortable-helper { cursor:grabbing; }
/* Ticket Forms */
.em-ticket-form .ticket-options { margin-top:10px; }
.em-ticket-form > div > div, #em-tickets-form .ticket-dates > div { clear:both; padding-top:4px; }
.em-ticket-form label { display:block; float:left; min-width:200px; padding-right:5px; }
#em-tickets-form .ticket-name input, #em-tickets-form .ticket-description textarea { width:50%}
#em-tickets-form .em-ticket-form-actions { clear:both; }
#em-tickets-form .ticket-spaces input, #em-tickets-form .ticket-price input { width:80px; }
#em-tickets-form .ticket-dates-from-normal, #em-tickets-form .ticket-dates-from-recurring,
#em-tickets-form .ticket-dates-to-normal, #em-tickets-form .ticket-dates-to-recurring { display:inline; }
#em-tickets-form .ticket-required input, #em-tickets-form .ticket-roles input { width:auto; }
#em-tickets-form .ticket-roles div { margin-left:110px; }

/* Booking Form */
.em-booking { margin:15px 0px 10px 0px; position:relative; }
.em-booking-form-details  { padding:10px; width:360px; float:left; }
.em-booking-form-details input.input, .em-booking-form-details textarea { width:250px; }
.em-booking-form p { clear:left; }
.em-booking-form label { display:block; float:left; }
.em-booking-form span.input-group input { margin-left:-20px; }
.em-booking-form span.input-group { display:block; margin-left:120px; }
.em-booking-form label  { display:inline-block; width:100px; }
.em-booking-form p.input-field-data_privacy_consent label { display:block; width:100%; }
.em-booking-form-details .em-booking-submit { width:auto; }
/* Admin single booking view overrides */
#em-bookings-admin-booking .em-booking-form .em-form-fields th { max-width:300px; padding:10px 0 0; vertical-align: top; }
#em-bookings-admin-booking .em-booking-form .em-form-fields td { text-align:left; padding:10px 0 0 20px; }
#em-bookings-admin-booking .em-booking-form .em-form-fields span.input-group { display:block; margin-left:0; }
#em-bookings-admin-booking .em-booking-form .em-form-fields span.input-group input { margin-left:0; }
/* Tickets */
.em-tickets { margin-bottom:20px; }
/* Message Errors */
div.em-booking-message { margin:10px 0px; padding:10px; color:#333; border-radius:3px; }
div.em-booking-message p { margin:10px 0px !important; padding:0px; color:#333; }
div.em-booking-message-success { background-color:#f1fff0; border:1px solid #a8d144; }
div.em-booking-message-error { background-color:#FFEBE8; border:1px solid #C00; }

/* Booking admin area */
#em-booking-details .inside { padding:5px 10px; }
.stuffbox .inside h4 { font-size:16px; font-weight:normal; margin:10px 0px 20px; font-weight:bold; }
/* Generic Table Info */
table.em-form-fields td, table.em-form-fields th { text-align:left; vertical-align:top; }
table.em-form-fields th { padding:0px 20px 5px 0px; }
.em-tablenav-pagination.tablenav-pages a { width:auto; padding-top:4px; padding-bottom:5px;}
.em-tablenav-pagination.tablenav-pages .current { font-size:16px; }
/* Ticket table info */
table.em-tickets-bookings-table { width:100%; border:1px #efefef solid; margin:10px 0px; }
table.em-tickets-bookings-table tr.em-hr th { border-top: 1px solid #bbb; }
table.em-tickets-bookings-table tfoot th:first-child { text-align:right; }
table.em-tickets-bookings-table th:last-child, table.em-tickets-bookings-table tbody td:last-child { text-align:right; padding-right:20px; vertical-align:top; }
table.em-tickets-bookings-table tfoot th em { font-size:12px; font-weight:normal; }
table.em-tickets-bookings-table th, table.em-tickets-bookings-table td { padding:5px 5px; margin:0px; }
table.em-tickets-bookings-table thead th, table.em-tickets-bookings-table tfoot th { background:#cdcdcd; text-align:center }
table.em-tickets-bookings-table tbody td.ticket-type { text-align:left; padding-left:10px; }
table.em-tickets-bookings-table tbody td { text-align:center; }
/* Bookings Table */
.em-bookings-table .em-bookings-table-export, .em-bookings-table .em-bookings-table-settings { 
	display: flex;
    align-items: center;
	float:left; margin-right: 5px  }

/* Settings & Export */
#em-bookings-table-export, #em-bookings-table-settings { width:500px; height: 75%; }
#em-bookings-table-export form, #em-bookings-table-settings form { height: 100%; overflow:auto; }
/* Sorting */
.em-bookings-table-overlay ul.em-bookings-cols-sortable { list-style-type: none; margin: 0; padding: 0 0 10px; float: left; margin-right: 10px; }
.em-bookings-table-overlay ul.em-bookings-cols-sortable li { border: 1px dashed #aaa; margin: 0 5px 5px 5px; padding: 3px 8px; font-size: 12px; width: 120px; font-weight:normal; cursor:move; }
.em-bookings-table-overlay ul.em-bookings-cols-sortable li.ui-state-default { color:#999; }
#em-bookings-export-cols-inactive, #em-bookings-cols-inactive { width:300px; }
#em-bookings-export-cols-inactive li, #em-bookings-cols-inactive li { float:left; }
/* Single Booking Edit View */
#em-bookings-admin-booking .postbox h3, #em-bookings-admin-booking .stuffbox h3 { font-size:16px; }
#em-bookings-admin-booking .stuffbox .inside { padding: 0 12px 12px 12px; }
#em-bookings-admin-booking .em-booking-single-info { display:none; }
#em-bookings-admin-booking .em-booking-single-form { padding-right:20px; }

/* Google Map Object */
#location-balloon-content {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 12px 20px 0px !important;
	font-size: 12px !important;
	color: #000000 !important;
	width: auto !important;
	max-width: none !important;
	height: auto !important;
	max-height: none !important;
}
#location-balloon-content h3 { background:none; text-shadow:none; }

/* Options Page */
#em-options-form .handlediv { display:none; visibility: hidden; }

#em-options-form .em-boxheader { font-style:italic; margin:0; padding:10px 5px; }
table.em-caps-table th, table.em-caps-table td { width:auto !important; }

.em-translatable { display:inline-block; width:20px; height:20px; font-size:20px; padding:0px 5px 0px 0px; cursor:pointer; }
.em-ml-options { display:none; }
.em-ml-options table { width:95%; }
.em-ml-options table td { padding:0px 0px 5px; margin:0px; }
.em-ml-options .lang { width:100px; }
.em-menu-group .postbox.always-open .inside { display:block !important; }
.em-menu-group .postbox.closed { border-bottom:1px solid #ccd0d4; }

/* Widget Tables CSS */
.em_obj .table-wrap{
	position:relative;
}
.em_obj #em-loading { position:absolute; width:100%; height:100%; background:#FFFFFF 50% 50% no-repeat; left:0px; top:0px; opacity:0.8; filter:alpha(opacity=80)}

/*Help Docs*/
.em-docs > h3 { font-size:18px; display:block; margin-top:50px; }
.em-docs dl, .em-docs h2, .em-docs h3, .em-docs h4, .em-docs dl { clear:left; }
.em-docs dl dt { display:block; float:left; min-width:160px; margin-right:10px; }
.em-docs dl dd { display:block; margin-left:170px; }
.em-docs-atts dl dt { min-width:110px !important; }
.em-docs-atts dl dd { margin-left:120px !important; }

/* Time Picker */
.em-time-input.error { border:#cc0000 1px solid; }
.ui-em_timepicker-wrapper{overflow-y:auto;max-height:150px;width:6.5em;background:#fff;border:1px solid #ddd;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);outline:0;z-index:10052;margin:0}.ui-em_timepicker-wrapper.ui-em_timepicker-with-duration{width:13em}.ui-em_timepicker-wrapper.ui-em_timepicker-with-duration.ui-em_timepicker-step-30,.ui-em_timepicker-wrapper.ui-em_timepicker-with-duration.ui-em_timepicker-step-60{width:11em}.ui-em_timepicker-list,.ui-em_timepicker-list li{margin:0;padding:0;list-style:none}.ui-em_timepicker-duration{margin-left:5px;color:#888}.ui-em_timepicker-list:hover .ui-em_timepicker-duration{color:#888}.ui-em_timepicker-list li{padding:3px 0 3px 5px;cursor:pointer;white-space:nowrap;color:#000}.ui-em_timepicker-list:hover .ui-em_timepicker-selected{background:#fff;color:#000}.ui-em_timepicker-list .ui-em_timepicker-selected:hover,.ui-em_timepicker-list li:hover,li.ui-em_timepicker-selected{background:#1980ec;color:#fff}.ui-em_timepicker-list li:hover .ui-em_timepicker-duration,li.ui-em_timepicker-selected .ui-em_timepicker-duration{color:#ccc}.ui-em_timepicker-list li.ui-em_timepicker-disabled,.ui-em_timepicker-list li.ui-em_timepicker-disabled:hover,.ui-em_timepicker-list li.ui-em_timepicker-selected.ui-em_timepicker-disabled{color:#888;cursor:default}.ui-em_timepicker-list li.ui-em_timepicker-disabled:hover,.ui-em_timepicker-list li.ui-em_timepicker-selected.ui-em_timepicker-disabled{background:#f2f2f2}


.em-event-bookings .inside {
	background: #f0f0f1;
}

.em-event-mail-settings {
	display: flex;
	gap: 1rem;
	align-items: stretch;
    background: #f3f3f3;
    padding: 1rem;
}

.em-nav-side {
	border-right: 1px solid #ccc;
}

.em-nav-item {
	padding: .75rem 1rem;
	margin: 0;
	white-space: nowrap;
}

.em-nav-item:hover {
	background: var(--wp--preset--color--vivid-cyan-blue) !important;
	color: white !important;
	cursor: pointer;
}

.em-nav-item.active {
	background: #ccc
	
}

.em-nav-container {
	width: 100%;
}

.em-accordion-item {
	clear: both;
    line-height: 1.5;
    position: relative;
    margin: 1rem 0 0;
}

.em-accordion-item-handle {
	border: 1px solid #dcdcde;
    position: relative;
    padding: 10px 15px;
    height: auto;
    min-height: 20px;
    line-height: 2.30769230;
    overflow: hidden;
    word-wrap: break-word;
	cursor: pointer;
	background: #dfdfdf;
}

.em-accordion-item-text {
	font-size: 13px;
    font-weight: 600;
    line-height: 1.53846153;
    display: block;
    margin-right: 13em;
}

.em-accordion-item-text::after {
	position: absolute;
    top: 12px;
    right: 10px;
    z-index: 1;
	content: "\f140";
    font: normal 20px/1 dashicons;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
	color: #787c82
}

.em-accordion-content {
	height: auto !important;
    padding: 1rem;
    background: #fcfcfc;
    border: 1px solid #dcdcde;
}

.em-settings-field {
	padding: 1rem;
    background: #ddd;
}

.em-subgroup-email {
	background: #f5f5f5;
	 margin-bottom: 1rem
}

.em-select-mail-status {
	padding: 1rem;
    background: #f0f0f0;
    /* margin-bottom: 1rem; */
    border-bottom: 1px solid #ddd;
	display: flex;
    align-items: center;
    gap: 1rem;
}

.em-mail-vals {
	background: #f5f5f5;
    padding: 1rem;
}

.em-mail-status-indicator {
	width: 16px;
    height: 16px;
    background: #bbb;
    border-radius: 99px;
}

.em-mail-status-indicator[data-status="1"] {
    background: #4caf50;
}

.em-mail-status-indicator[data-status="2"] {
    background: #f55e53;
}

#booking-modal {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: grid;
    place-items: center;
	max-height: 60vh;
    overflow: scroll;
}

#booking-modal .modal-box {
	max-width: 80%;
    background: #fff;
    padding: 1rem;
}


#email-modal {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: grid;
    place-items: center;
	height: 60vh;
    overflow: scroll;
}

#email-modal .modal-box {
	max-width: 80%;
    background: #fff;
    padding: 1rem;
}