.event-details {
	&__item {
		display: flex;
		gap: 1rem;
	}

	h5 {
		margin: 0;
	}

	&__icon {
		display: grid;
		place-items: center;
		background-color: rgba( 0, 0, 0, 0.15 );
		height: 42px;
		width: 42px;
	}

	&__action {
		background-color: var( --wp-admin-theme-color );
		color: #fff;
		border-radius: 99px;
	}

	&.has-divider .event-details-item:not( :last-child ) {
		border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}
}
